.head__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.head__text__1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.head__text__2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.head__text__grey {
    color: #707070;
}

.head__text__3 {
    font-size: 29px;
    font-weight: 500;
    line-height: 43.5px;
}

.head__text__4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.head__text__5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.head__options {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 110px;
    border-radius: 12px;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 22px 0px #7E7A7A40;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 25px;
}

.head__options__btn {
    flex : 1 1 0%;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}