.section {
    min-width: 360px;
    height: 100%;
    border-radius: 10px;
    background-color: #EEF2F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section__addtask {
    display: flex;
    gap: 25px;
}

.section__head__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section__tasks {
    overflow: auto;
    width: 100%;
    flex: 1 1 0%;
}

@media (min-width : 1600px) {
    .section {
        width: 25%;
    }
}